<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Newapp" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>
  </head>

  <body>
    <%= yield :body %>
  </body>
</html>
